.todoItem {
  display: flex;
  width: 100%;
  border: 1px solid black;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  margin-block-end: 20px;
}
input {
  margin: 20px;
  width: 30%;
}
